# Node
node_modules/

# Playwright
playwright-report/
test-results/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Allure report and results
allure-report/
allure-results/

# Env files (important)
.env
.env.*